

<!DOCTYPE html>
<html>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1400px; max-height:1200px;" id="home">
  <!--<img src="durantloft.jpg" alt="I can't get the image to show">-->
  <!--<img class="w3-image" src="/w3images/architect.jpg" alt="Architecture" width="1500" height="800">-->
  <%= image_tag("DLStage.JPG", :alt => "Durant Loft", style: 'height:100%;width:100%;') %>
  <div class="w3-display-middle w3-margin-top w3-center">
    <!-- <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Durant</b></span> <span class="w3-hide-small w3-text-orange">Loft</span></h1> -->
    <h1 class="w3-xxlarge w3-text-orange">Durant</span> <span class="w3-hide-small w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Loft</b></span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- About Section -->
  <center>
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Welcome to Durant Loft!</h3>
    <h5>
      Durant Loft, often referred to as DL, is a meeting space located on Durant Avenue.
    </br>
      We use DL as a space for worship services, review sessions, meetings, jams, and TFNs.
    </br>
      In between events, DL is open for studying, bumming, and hanging out with friends.
      </br>
      Swing by and hang out!
    </h5>
  </div>
</center>

  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Announcements</h3>
    <p> Wifi has been upgraded to DLoft 2!
        Password is the same as before!
    </p>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Want to know more about GP or got questions? Contact us!</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> Send
      </button>
    </form>
  </div>

<!-- End page content -->
</div>

<!-- Google Map -->
<div id="googleMap" class="w3-grayscale" style="width:100%;height:450px;"></div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a> and <a href="https://colorlib.com/" title="colorlib" target="_blank" class="w3-hover-text-green">colorlib</a></p>
</footer>

</body>
</html>
