<!DOCTYPE html>
<html>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

</br>
</br>

<h3 class="w3-border-bottom w3-border-dark-grey w3-padding-16">New Shift</h3>

<%= render 'form', shift: @shift %>

<%= link_to 'Back', shifts_path %>
